<div class="home-container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameTitle="Vamos nessa!!!"
    gameLabel="Exclusivo"
    gamePrice="R$250,00"
    gameType="Digital | PS5"
  ></app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameTitle="Jogue Agora!!"
    gameLabel="Assinantes"
    gamePrice="R$180,00"
    gameType="Media | PS4"
  ></app-card>
  <app-card
  gameCover="assets/bt-5.jpg"
  gameTitle="Compre Agora!!"
  gameLabel="Novo"
  gamePrice="R$129,90"
  gameType="Digital | PS5"
  ></app-card>
  <app-card
  gameCover="assets/bt-bad-company-2.jpg"
  gameTitle="Jogue hoje!!"
  gameLabel="Disponivel"
  gamePrice="R$179,90"
  gameType="Digital | PS5"
  ></app-card>
  <app-card
  gameCover="assets/ac-cover.jpg"
  gameTitle="Vamos Jogar!!"
  gameLabel="Exclusivo"
  gamePrice="R$299,90"
  gameType="Digital | PS5"
  ></app-card>
  <app-card
  gameCover="assets/bt-hardline.jpg"
  gameTitle="Garanta o seu!!"
  gameLabel="Raro"
  gamePrice="R$119,50"
  gameType="Media | PS4"
  ></app-card>
</div>
